<%- include("../errors.ejs") %>
<form action="/allproducts/edititem/<%= instrument.id %>" method="post">
  <label for="itemname">Instrument Name:</label>
  <input type="text" id="itemname" name="itemname" value="<%= instrument.name %>" required />
  <label for="description">Description:</label>
  <textarea type="text" id="description" name="description" required><%= instrument.description %></textarea>
  <label for="price">Price:</label>
  <input type="number" id="price" name="price" value="<%= instrument.price %>" required />
  <select name="category" id="category" required>
    <% categories.forEach(category => { %>
    <option value="<%= category.id %>"><%=category.name %></option>
    <% }) %>
  </select>
  <button type="submit">Submit</button>
</form>
