<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Products</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>All Products</h1>
    <div class="links">
      <a href="/allproducts/createitem">Create a new product</a>
      <a href="/">Return to homepage</a>
    </div>
    <div class="products">
      <% if (instruments && instruments.length > 0) { %> <% instruments.forEach(instrument => { %>
      <div>
        <h3><%= instrument.name %></h3>
        <p><%= instrument.description %></p>
        <p><%= instrument.price %></p>
        <div class="buttons">
          <a href="/allproducts/edititem/<%= instrument.id %>">
            <button>Edit Item</button>
          </a>
          <a href="/allproducts/deleteitem/<%= instrument.id %>">
            <button>Delete Item</button>
          </a>
        </div>
      </div>
      <% }); %> <% } else { %>
    </div>
    <p>No products found</p>
    <% } %>
  </body>
</html>
